<div class="relative container mx-auto px-12">
    <a class="text-white bg-darkerBlue flex  items-center justify-between p-3 px-6  pt-2 block rounded-full baseline"
        href="/playlists/{{id}}">{{playlists.playlist_name}}</a>
    <br>
    {{#each playlists.songs}}
    <div>
        <a class="text-white bg-darkerBlue flex  items-center justify-between p-3 px-6  pt-2 block rounded-full baseline"
            href="/song/{{id}}">{{song_name}}</a>
        <iframe style="border-radius:12px" src="{{embed_song}}" width="100%" height="80" frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
    <br>
    {{/each}}
</div>